{
  "parser": "babel-eslint",
  "env": {
      "browser": true
  },
  "plugins": [
      "react"
  ],
  "extends": [
    "airbnb",
    "eslint:recommended",
    "plugin:react/recommended"
  ],
  "parserOptions": {
    "ecmaFeatures": {
        "jsx": true
    }
  },
  "rules": {
    "linebreak-style": off,
    "react/jsx-filename-extension": off,
    "react/jsx-uses-react": ["error"],
    "react/jsx-wrap-multilines": off,
    "react/prop-types": [1, {skipUndeclared: true}],
    "react/prefer-stateless-function": [1],
    "comma-dangle": ["error", {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "always-multiline",
        "exports": "always-multiline",
        "functions": "ignore"
    }],
    "function-paren-newline": ["error", "consistent"],
    "no-console": "warn",
    "no-unused-vars": "warn"
  }
}
